<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="2" parallel="tests" >
<listeners>
 
 <listener class-name="suite1.TestNGListerner"></listener>
 
 </listeners>
 
 
  <test name="Flipkart">
    <classes>
      <class name="suite1.Flipkart"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="SnapDeal">
    <classes>
      <class name="suite2.SnapDeal"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
