<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="2" parallel="tests" >

 
 <test name="firefoxtests">
  <parameter name="portNO" value="4547"></parameter>
    <classes>
      <class name="suite1.Flipkart"/>
    </classes>
  </test> <!-- Test -->   
  
    <test name="chrometests">
  <parameter name="portNO" value="4548"></parameter>
    <classes>
      <class name="suite1.Flipkart"/>
    </classes>
  </test> <!-- Test -->
  <test name="IEtests">
  <parameter name="portNO" value="4549"></parameter>
    <classes>
      <class name="suite1.Flipkart"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
