<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="5">
  <test name="SmokeTest">
    <classes>
      <class name="SmokeTestPackage.Component1">
      	<methods>
      	    <include name="Component1TC3" />
      		<exclude name="Component1TC2" />
      	</methods>
      	</class>
    </classes>
  </test> <!-- Test -->

     
  </suite> <!-- Suite -->
